body, html{
  height: 100%
  margin: 0;
  padding: white, 2px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  list-style: none;
  line-height: 1.3em;
  color: white;
  background-color: black;
}

.png1, .png2, .png3, .png4{
   position: relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   opacity: 0.99;
}

 .png1{
   background-image: url("../img/png3.jpg");
   background-position: left;
   min-height: 1000px;
   width: 100%;
   padding-bottom: 5px;
  }
  .png4{
    background-image: url("../img/png4.jpg");
    margin: 5px;
    font-style: 26px;
    min-height: 400px;
  }
  .png2{
    background-image: url("../img/png1.jpg");
    margin: 5px;
    font-size: 22px;
    min-height: 400px;
  }
   .png3{
     background-image: url("../img/png2.jpg");
     min-height: 40%;
  }

  .section{
    text-align: center;
    padding: 50px, 80px, white;
    color: grey;
  }

 .section-dark{
   background-color: #282E34;
 }

 .ptex{
   position: absolute;
   color: #282E34;
   font-family: helvetica;
   font-weight: bold;
   top: 36%;
   width: 100%;
   font-size: 16px;
   text-align: center;
   line-height: normal;
   text-transform: uppercase;
 }

.border{
  font-size: 40px;
}

#boxes .box img{
  width: 60px;
  height: 60px;
  padding: 5px 0 0 0;
}
